// Styling for the masthead
header.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: $font-primary;
    background: url('../img/mfortune-bg.jpg'), $theme-fifth;
    background: url('../img/mfortune-bg.jpg'), -webkit-linear-gradient(to left, $theme-forth, $theme-fifth);
    background: url('../img/mfortune-bg.jpg'), linear-gradient(to left, $theme-forth, $theme-fifth);
    background-image: url('../img/mfortune-bg.jpg');
    background-color: #F1AB27;

    .row.eighteen-plus {
        display: block;
        width: 100%;
    }

    .header-content {
        max-width: 500px;
        margin-bottom: 100px;
        text-align: center;

        h1 {
            font-size: 125px;
            font-weight: 900;
        }

        .join-button {
            font-size: 50px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
        }
    }

    a.top-link {
        text-decoration: underline;
        color: #000;
        margin: 0 10px;
        font-size: 14px;
    }

    p {
        font-size: 10px;
        text-align: center;
    }

    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;

        .screen img {
            border-radius: 3px;
        }
    }

    .cat-image {
        margin-top: auto;
        margin-bottom: 0;
    }

    .header-content {
        margin-bottom: 0;
        text-align: center;

        h1 {
            font-size: 70px;
            font-family: 'Luckiest Guy', cursive;
        }

        h2 {
            font-size: 45px;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 25px;
            margin-bottom: 20px;
        }

        h1,
        h2,
        h3 {
            text-align: -webkit-center;
            text-align: center;
        }

        .join-button {
            font-size: 30px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            width: 100%;
            max-width: 300px;
            border: none;
        }

        img {
            max-width: 600px;
        }

        img.no-margin {
            margin: -63px 0 0 0;
        }
    }

    .device-container {
        max-width: 500px;
        margin-left: 0;

        img {
            width: 500px;
            height: auto;
        }
    }

    @media (min-width: 992px) {
        height: 91vh;
        min-height: 575px;
        padding-top: 0;
        padding-bottom: 0;

        .cat-image {
            margin-top: auto;
            margin-bottom: 0;
        }

        .header-content {
            margin-bottom: 0;
            text-align: center;

            h1 {
                font-size: 70px;
                font-family: 'Luckiest Guy', cursive;
            }

            h2 {
                font-size: 45px;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 25px;
                margin-bottom: 20px;
            }

            h1,
            h2,
            h3 {
                text-align: -webkit-center;
                text-align: center;
            }

            .join-button {
                font-size: 30px;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                width: 100%;
                max-width: 300px;
                border: none;
                transition: 2s;
                position: relative;
            }

            img {
                max-width: 600px;
            }

            img.no-margin {
                margin: -63px 0 0 0;
            }
        }

        .device-container {
            max-width: 500px;
            margin-left: 0;

            img {
                width: 500px;
                height: auto;
            }
        }
    }

    @media (max-width: 1000px) {
        padding-top: 20px;

        .device-container {
            margin-left: auto;
        }
    }


    @media (max-width: 700px) {
        padding-top: 20px;

        .header-content {
            img {
                max-width: 500px;
            }
        }

        .device-container {
            img {
                width: 450px;
            }
        }
    }

    @media (max-width: 600px) {
        padding-top: 20px;

        .eighteen-plus {
            padding: 0 20px;
        }

        .header-content {
            img {
                max-width: 450px;
            }
        }
    }


    @media (max-width: 500px) {
        padding-top: 20px;

        .header-content {
            img {
                max-width: 400px;
            }
        }

        .device-container {
            img {
                width: 350px;
                margin: 0 auto;
                display: block;
            }
        }
    }

    @media (max-width: 400px) {
        padding-top: 20px;

        .header-content {
            img {
                max-width: 300px;
            }
        }

        .device-container {
            img {
                width: 350px;
                margin: 0 auto;
                display: block;
            }
        }
    }

    @media (max-width: 350px) {
        padding-top: 20px;

        .header-content {
            img {
                max-width: 250px;
            }
        }

        .device-container {
            img {
                width: 250px;
                margin: 0 auto;
                display: block;
            }
        }
    }
}

